/*!
 * Icon: Fineshop Icons
 * Font family: 'Fineshop Icons'
 * Font weight: 400
 */
@font-face {font-family:'Fineshop Icons';font-style:normal;font-weight:normal;font-display:block;src:url(../fonts/fineshopicons-webfont.eot);src:url(../fonts/fineshop-icons.eot) format('embedded-opentype'),url(../fonts/fineshopicons-webfont.woff) format('woff2'),url(../fonts/fineshopicons-webfont.woff) format('woff'),url(../fonts/fineshopicons-webfont.ttf) format('truetype')}